# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Virtual environments
.env/
.venv/
venv/
env/
ENV/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
